<!DOCTYPE html>
<html lang="en" ng-app="app" >
	<head>
		<% include ../partials/_header %>
	</head>

	<body  ng-controller="IndexMainController as IndexMainCtrl">

		<%-body -%>
		
		<!-- footer for views without navigation bar
		=============================================================-->
		<% include ../partials/_footer_noNavigationBar %>

	</body>
</html>